/*
  Main Admin CSS 
  Proloy Bhaduri
*/
.padding-4{
	padding : 4%;
}
.pb-flex{
	display: flex;
	justify-content: space-between;
}
.pb-w-70{
	width:  70%;
}
.pb-w-25{
	width:  25%;
}
.dashicons{
	vertical-align : middle!important;
}
.bg-white{
	background-color:  #fff!important;
}
.pb-container{
	padding:  1%;
}
textarea{
  min-height: 200px;
}
.shadow-tw-1{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.pb-sidebar{
  padding:  1%;
  display:  flex;
  flex-direction:  column;
  align-items:  stretch;
   max-width:  100%;
  justify-content: center;
  margin:  0 auto;
}
.pb-sidebar .pb-heading{
 text-align:  left!important;
}
.pb-note-list{
  text-align:  left;
}
.pb-note-list ul{
  list-style-type: square!important;
}

.pb-note-list ul li{
  margin : 4% 0;
  font-size:  1.15em;
  line-height:  1.6;
}
.bmc-btn{
  height:  35px!important;
  padding:  2% inherit !important;
}
.pb-more-container{
  padding:  5% 0;
}
.pb-grid{
  display:  grid;
  padding:  0 5%;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap:  2%;
}
.pb-card {
  box-shadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 0.3s;
  cursor:  pointer;
  background:  #fff;
  border-radius: 5px; /* 5px rounded corners */
}
.pb-card:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.container {
  padding: 2px 16px;
}
.pb-card img{
  width:  100%;
  object-fit:  fill;
  height : 200px
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
.pblzbg-spinner{margin: 0 2% 0 2%;vertical-align:-webkit-baseline-middle;}
.pb-disabled-area{
	opacity: 0.5;
	pointer-events: none;
}
/* Switch  */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  border-radius:  5px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:  5px ;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius:  5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #034aa1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #034aa1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

textarea{
	width:  100%;
}